h1 {
  position: relative;
  text-align: center;
  width: 100%;
  
}

.background {
  color: black;
  background: linear-gradient(to right, #ff1493, #ffff40 );
  margin: 0;
  padding: 5px;
}

.row1 {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


div {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: white;
  border: 2px solid black;
  margin: 100px 150px;
  position: relative;
  padding: 2px;
  border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 10px;
   
 
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #000000;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  
#submitbutton {
  padding: 25px;
}

.inputbox{
  justify-content: space-between;
}
  button {
    margin-left: 10px;
    background-color: #ffff40;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  
  button:disabled {
    background-color: #ccc;
  }
  